*{
	margin:0px;

}
/* Design First for - Mobile */

[class*= "col-"]{
	width:100%;
}


/*CSS in the media query is applicable for 
the screen width greater than or equal to 
700 px. 700px is called as a breakpoint.*/

@media only screen and (min-width: 600px){
	.grid_1{
		width: 8.33%;   /*8.33 x 1=8.33*/
	}
	.grid_2{
		width: 16.66%;  /*8.33 x 2=16.66*/
	}
	.grid_3{
		width: 25%;     /*8.33 x 3=25*/
	}
	.grid_4{
		width: 33.33%;  /*8.33 x 4=33.33*/
	}
	.grid_5{
		width:41.66%;   /*8.33 x 5=41.66*/
	}
	.grid_6{
		width: 50%;    /*8.33 x 6=50*/
	}
	.grid_7{
		width: 58.33%;  /*8.33 x 7=58.33*/
	}
	.grid_8{
		width: 66.66%;   /*8.33 x 8=66.66*/
	}
	.grid_9{
		width: 75%;       /*8.33 x 9=75*/
	}
	.grid_10{
		width: 83.33%;    /*8.33 x 10=83.33*/
	}
	.grid_11{
		width: 91.66%;   /*8.33 x 11=91.66*/
	}  
	.grid_12{
		width:100%;      /*8.33 x 12=100*/
	}


}


.navbar_bg_gradient{
	/*background-image: linear-gradient(to right,  rgba(234, 97, 68), #FEB5A6);*/
	background-image: linear-gradient(to right,  #202B58, #BD56DB);

}

.logo{
	padding-top: 10px;
	padding-left: 10px;
}

.cname{
	height: 70px;
	text-align: left;
	padding-top: 25px;
	font-size: 30px;
	color:white;
}

.fname{
	height: 30px;
	text-align: right;
	padding-top: 30px;
	padding-left: 200px;
	font-size: 20px;
	color:white;
}

.fname a{
	text-decoration: none;
}

h2{
	font-size:30px;
	color:#202B58;
	margin:0px;
}
.grid_6 p {
	font-size:30px;
	padding-top: 50px;
	color:#202B58;
	margin:0px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
  font-size: 30px;
  color:#202B58;
  margin-top:10px;
}




.banner{
	/*width: 100%;
	height: 100vh;*/
	/*overflow:hidden;*/
	display: flex;
	/*justify-content: center;
	align-items: center;*/
}

.banner video{
	/*position: relative;
	top:0;
	left:0;*/
	/*object-fit: cover;*/
	width: 100%;
	height: 100%;
	/*pointer-events: none;*/
}

input[type=email],{
	background-color: white;
	 border: solid;
}
input[type=submit] {
background-color: #62529c;
border: none;
color: #fff;
padding: 15px 30px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
}

.banner .content{
	padding-top: 100px;
	padding-left: 10px;
	font-size:40px;
	width: 100%;
	color:white;
	position:absolute;
	z-index: 1;
	/*max-width: 60px;*/
	/*margin: 0 auto;*/

}





.section_banner{
	height: 50px;
	/*background-color:#ea6144;*/
	background-image: linear-gradient(to right,  #202B58, #BD56DB);
	margin-top: 20px;
	font-size:20px;
	font-weight: bold;
	text-align: center;
	padding-top:15px;
	color:white;
	box-shadow:5px 5px rgb(130, 129, 124);
	margin-bottom: 10px;
}


.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.08); /
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.grid_4 img{
	display: inline-block;
	margin:4px;
	transition: transform .2s;
}

.grid_4 img:hover{
	transform: translate(-5%, -5%);
}


.footer_banner{
	height: 200px;
	background-image: linear-gradient(to right,  #202B58, #BD56DB);
	margin-top: 20px;
	font-size:20px;
	font-weight: bold;
	text-align: center;
	padding-top:15px;
	color:white;
	box-shadow:5px 5px rgb(130, 129, 124);
	margin-bottom: 10px;

}
.card {
	padding-top: 10px;
	padding-left: 10px;
	margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.space{
	margin-top: 20px;
	margin-bottom: 20px;
}